* {
  padding: 0;
  margin: 0;
}

.line {
  position: absolute;
  border-top: 10px solid #27251F
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.left-image {
  margin: 0;
  padding: 0;
}

.img {
  margin: 0;
  width: 100%;
}

.right-container {
  margin: 0px;
  padding: 0px;
  background: #FD5A1EE5;
  display: flex;
  align-items: center;

}

.info {
  padding: 10%;
  width: 100%;
  margin: 0;
  background: #EFD19FCC;
  display: flex;
  align-items: center;
  border-style: outset;
  border-color: gray;
  flex-direction: column;
}

.text {
  width: 75%;
}

.title {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
}

.description {
  font-family: Vollkorn SC;
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.02em;
  text-align: center;
}

