.line {
  position: absolute;
  border-top: 10px solid #27251F
}

.left-container {
  position: relative;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.left-Img {
  margin: 0;
  width: 50%;
}

.img {
  margin: 0;
}

.right-container {
  height: 100%;
}

.orange {
  background-color: #DE591F;
}

.beige {
  padding: 100px 100px;
  background-color: #EFD19F;
}

.text {
  width: 600px;
}