.line {
  position: absolute;
  border-top: 10px solid #27251F
}

.welcome-left {
  display: flex;
  position: relative;
}

.welcome-container {
  display: flex;
  flex-wrap: nowrap;
}

.left-Img {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.welcome-right {
  height: 100%;
}

.right-top {
  padding: 100px;
  /* height: 60%; */
  
  background-color: #EFD19F;
}

.right-bottom {
  background-color: #DE591F;
  /* height: 40%; */
}


.text {
  display: flex;
  width: 50%;
}